<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css' %}">

    <title>Hello, djBlog</title>
  </head>
  <body>
  <div class="container">
    <div class="row border bg-dark"><span class="text-light">djBlog</span></div>
    <div class="row">
      <div class="col-3 border bg-dark">
        <nav class="text-light">
          <ul>
            <li><a href="{% url 'blog:new_post' %}">New post</a></li>
            <li><a href="{% url 'blog:index' %}">View posts</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-9 border bg-light">
        <h1>Create New Blog</h1>
        <table>
          <form method="post" action="">{% csrf_token %}
            {{ form.as_table }}
            <tr><td colspan="2"><input type="submit" value="Save Post" /> <input type="reset" value="Clear Data" /></td></tr>
          </form>
        </table>
      </div>
    </div>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'blog/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'blog/vendor/popperjs/popper.min.js' %}"></script>
    <script src="{% static 'blog/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>